################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Kolko_i_krzyzyk/Kolko_i_krzyzyk/MainWindow.xaml.cs
